#login{
    margin-left: 30%;
    margin-right: 30%;
   

}
#botaoBlock{
background-color:red;

}
#legend1{
 text-align: center;
 color:grey;
 

}
#l{
    color:black;
}
#formCadastro{
    margin-left: 30%;
    margin-right: 30%;
      
}